# Python
__pycache__/
*.pyc
.venv/

# Node
node_modules/
dist/

# IDE
.idea/
.vscode/

# Environment
.env
.env.*

# Logs
*.log

# AI Models
*.bin
*.pt
*.safetensors

# Data
data/raw/*
data/processed/*

# OS
.DS_Store
Thumbs.db